<!DOCTYPE html>
<html>
  <head>
    <title>XE-Challenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-container">
      <main>
        <%= yield %>
      </main>
      <footer>
        <div class="footer-links">
          <%= link_to 'New', new_realestate_path %>
          <%= link_to 'Index', realestates_path %>
        </div>
      </footer>
    </div>
  </body>
</html>
